
.menu {
    font-size: 30px;
}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }

#foot1 {
    flex-direction: row;
}
#foot-icon {
    height: 136px;
    width: auto;
}
#address {
    margin: auto 0;
    padding-right: 5em;
}
#contact {
    margin: auto 0;
    padding-left: 5em;
}
.gallery {
    grid-template-columns: 1fr;
}
.gallery-item:hover {
    box-shadow: 0 0 30px #bbb;
}
#discover-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


