* {
    margin: 2px;
    padding: 0 8px 0 8px;
}
#banner {
    display: none;
    background-color: #eed603;
    color: #000000;
    margin: auto 15px;
    text-align: center;
    font-weight: bold;
}
section {
    margin: 3px;
    border: 1px solid black;
    color:  #FFF5EE;
    background-color: #556B2F;
    height: 12em;
    font-size: 20px;
}
.long-box {
    height: 35em;
    order: 2;
}
.spotlight {
    border: 1px solid black;
    margin: 0 1em 0 1em;
    height: 10.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.spot-contact {
    font-size: 16px;
    color: #f7e99f;
}
.big-box {
    order: -2;
    background-image: url(https://www.nps.gov/dino/planyourvisit/images/Dinosaur-Sign_1.jpg);
    color: black;
    text-shadow: 2px 2px 10px #556B2F
}
#eventbx {
    order: -1;
    text-align: center;
}
#weatherbx {
    order: 0;
    max-width: 16em;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#hero-div{
    position: relative;
}
#hero-join {
    position: absolute;
    bottom: -2em;
    right: 1.5em;
    height: 60px;
    border-radius: 20px;
    padding-top: 20px;
    background-color: rgb(221, 214, 21);
    color: rgb(19, 57, 29);
}
#hero-txt {
    color: black;
    text-shadow: 2px 2px 10px #556B2F
}
a:link{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}
.more-info {
    color: rgb(2, 0, 128)
}
#spot1 {
    padding-bottom: 0;
    margin-top: 1.5em;
}
#spot2 {
    padding-top: 0;
}
#spot3 {
    display: none;
}

.spot-icon {
    display: flex;
    align-items: center;
    width: 100px;
    height: auto;
}
.spot-txt {
    font-size: 20px;
    color: rgb(245, 245, 220);
    text-align: center;
}
#joinbx {
    display: none;
}
#weather-div {
    grid-column: 1/3;
}
.weather-icon {
    height: 100px;
}
#weather-temp {
    font-size: 40px;
    margin: auto 0;
}
#weather-desc{
    grid-column: 1/3;
    font-size: 21px;
    font-weight: bold;
    text-decoration: underline;
    text-align: right;
}

.weather-txt{
    padding: 1px;
    font-size: 16px;
}
#news {
    padding: 12px;
}
.small-box p{
    text-align: center;
    font-size: 18px;
}
header, footer {
    display: flex;
    background-color: rgb(10, 10, 64);
    color: beige;
    font-family: Georgia, serif;
    padding: 0;
    margin: 0;
}
main div {
    font-size: 28px;
    color: rgb(255, 255, 103);
    text-shadow: 2px 2px 15px #000000
}

.social {
    height: 36px;
    width: auto;
    margin-top: auto;
    margin-bottom: auto;
    order: 0;
}
#fb {
    margin-left: auto;
}
#lnk {
    margin-right: auto;
}
#icon {
    margin-top: 25px;
    height: 48px;
    width: auto;
    grid-row: 1/2;
}
h2 {
    margin-top: -25px;
    font-size: 20px;
    grid-row: 2/3;
    grid-column: 2/3;
}
#header2 {
    padding: 5px;
    justify-content: center;
}
hr {
    height: 2px;
    margin: 0;
    color: black;
    background-color: black;
    border-width: 0;
}
footer {
    align-items: center;
    text-align: center;
}
#foot1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#foot-icon {
    padding: 5px;
}
p {
    padding: 3px;
}
#foot2 {
    justify-content: space-around;
    padding: 5px;
}
h3 {
    padding: 3px;
}
.header-text {
    font-family: Andale Mono, monospace;
    display: grid;
    grid-template-columns: 4em auto;
}
main {
    display: grid;
    grid-template-columns: 1fr;
    font-family: Georgia, serif;
}
nav {
	margin: 0 auto;
	max-width: 760px;

}
.nav {
	list-style: none;
	padding: 0;
    order: 1;
}
.nav li:first-child {
	display: block;
}
.nav li {
	display: none;
}
.nav a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: beige;
	font-weight: 600;

}

.nav a:hover {
	background-color: yellow;
    color: black;
    border-radius: 3px;
    padding:3px;
}

.responsive li {
	display: block;
}
.menu {
    font-size: 25px;
}
.responsive a.menu::before {
	content: "❌ ";
}