.nav ul{
    display: flex;
    font-size: 20px;
}
.nav li {
    padding: 0 1em;
}
.temple-main p{
    font-size: 24px;
}
.amen-container img{
    width: 28em;
    height: auto;
}
.spec-serv-container img{
    width: 28em;
    height: auto;
}
.venue-div img {
    width: auto;
    height: auto;
}
.catering-div img {
    width: auto;
    height: auto;
}
.mission-div img{
    width: auto;
    height: auto;
}
.mission-div p{
    padding: 1em;
    border: 6px solid #6c7374 ;
}